<div class="container mt-5">
    <div class="row">
        <div class="card col-6" *ngFor="let etape of etapes">
            <div class="card-header">
            {{etape.nom}}
            </div>
            <div class="card-body ">
            <p class="card-text"> Description : {{etape.description}}</p>
            <p class="card-text"> Nombre de favoris : {{etape.totalfavori}}</p>
            <p class="card-text"> Etape n° : {{etape.ordreEtape}}</p>

            <div class="row">
                <a class="btn btn-primary ml-3" (click)="supprimerEtape(etape.id)">supprimer</a>
                <a class="btn btn-primary ml-3" (click)="afficherModifier(etape.id)">modifier</a>
                <a class="btn btn-primary ml-3" (click)="generatePdf(etape.id)">imprimer</a>
            </div>
            <p *ngIf="afficherQrCode"> <qrcode [qrdata]="etape.qrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode></p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="affichageForm">
    <h3 class="mt-5 mb-1 ml-3">Ajouter une étape</h3>
    <form class="ml-3" [formGroup]="etapeForm">
        <div class="form-group" >
        <label for="nom">Nom de l'etape</label>
        <input type="text" class="form-control" id="" formControlName="nom" required>
        </div>
        <div class="form-group">
        <label for="description">description</label>
        <input type="text" class="form-control" id="" formControlName="description" required>
        </div>
        <div class="form-group">
            <label for="ordreEtape">Numéro d'etape</label>
            <input type="text" class="form-control" id="" formControlName="ordreEtape" required>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Créer</button>
    </form>
</div>

<div *ngIf="!affichageForm">
    <h3 class="mt-5 mb-1 ml-3">Modifier l'étape : {{etapeActuelle.nom}}</h3>
    <form class="ml-3" [formGroup]="etapeForm">
        <div class="form-group" >
        <label for="nom">Nom de l'etape</label>
        <input type="text" class="form-control" id="" formControlName="nom" placeholder="{{etapeActuelle.nom}}">
        </div>
        <div class="form-group">
        <label for="description">description</label>
        <input type="text" class="form-control" id="" formControlName="description" placeholder="{{etapeActuelle.description}}">
        </div>
        <div class="form-group">
            <label for="ordreEtape">Numéro d'etape</label>
            <input type="text" class="form-control" id="" formControlName="ordreEtape" placeholder="{{etapeActuelle.ordreEtape}}">
        </div>

        <button type="submit" class="btn btn-primary" (click)="modifier(etapeActuelle.id)">Modifier</button>
        <button type="submit" class="btn btn-primary ml-3" (click)="annuler()">Annuler</button>
    </form>
</div>

